{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
{% get_providers as socialaccount_providers %}

  <div class="main__login">
    <div class="main__form">
      <h1>LOGIN</h1>
      <form class="" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.login }}
        {{ form.password }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="post__form__create__btn" type="submit">{% trans "Sign In" %}</button>
      </form> 
      <div class="main__form__login">
        <a href="{{ signup_url }}">Registrarse</a>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Recuparar password" %}</a>
      </div>
      <div class="main__form__rss">
        <div class="main__form__rss__container">
          <span>
            <a href="{% provider_login_url 'google' %}"><img src="/static/img/google.svg" alt="google"> Ingresa con Google</a>
          </span>
        </div>
     </div>
    </div>  
  </div>

{% endblock %}
