{% extends 'base.html' %} 
{% load i18n %} 
{% load static %} 
{% block content %}

<div class="main__login">
    <div class="main__form">
      {% if user.photo is null %}
        <img src="/static/img/user.svg" alt="User"> 
      {% else %} 
        <img src="{{user.photo}}" alt="User">
      {% endif %}
      <h1>{{user | title }}</h1>
      <form class="main__logout__form" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %} {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
          <button class="main__form__btn" type="submit">{% trans 'LOGOUT' %}</button>
      </form>
    </div>
</div>

{% endblock content %}