{% extends "base.html" %}
{% load i18n %}
{% load static %} 
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="main__login">
  <div class="main__form">
    <h1>{% trans "Registro" %}</h1>
  
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.username }}
      {{ form.email }}
      {{ form.password1 }}
      {{ form.password2 }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="post__form__create__btn" type="submit">{% trans "Enviar" %}</button>
    </form>
    <div class="main__form__login">
      <p>{% blocktrans %}Ya tienes una cuenta ? Ingresa al <a href="{{ login_url }}">Login</a>.{% endblocktrans %}</p>
    </div>
  </div>
</div>

{% endblock %}
