.DS_Store

# If you are using PyCharm #
.idea/

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Django #
*.log
*.pot
*.pyc
media

# Cache
__pycache__

# Environments #
.venv
env

# Database
*.sqlite3