{% extends 'base.html' %}
{% load static %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}

<div class="container-fluid p-3 row row-cols-1 row-cols-md-2 g-4 align-items-center justify-content-center">
    <div class="row mt-3">
        <section class="col-12 mt-3">
            <h1>Acerca de mi</h1>
            <p>Mi nombre es Luis Cereño y soy un desarrollador apasionado interesado en el desarrollo web,
                gráficos,
                renderizado en tiempo real y muchas otras cosas. Soy uno de los miembros fundadores del equipo de
                BLOG
                y desarrollador líder en un par de proyectos populares en javascript.
            </p>
            <p> Actualmente estoy ubicado en Chile y trabajo como Desarrollador RPA y web. Aparte de
                eso,
                hago desarrollo de código abierto y me gusta dar charlas en varias conferencias y crear software de
                código abierto. Si desea apoyar mi trabajo, considere patrocinarme en GitHub.
            </p>
            <p>
                Si desea ponerse en contacto conmigo, puede hacerlo a través de uno de los siguientes canales de
                comunicación:
            <ul class="list-group">
                <li class="list-group-item">Vía email </li>
                <li class="list-group-item">Github</li>
                <li class="list-group-item">Twitter</li>
            </ul>
            </p>
        </section>
        <section class="col-12 mt-3">
            <h2>¿Te gusta mi trabajo?</h2>
            <p>
                Todo el material de código abierto en el que trabajo tiene licencia BSD, lo que significa que puedes
                hacer con él lo que quieras.
            </p>
        </section>
    </div>
</div>

{% endblock content %}