{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid mt-3">
    {% for post in posts %}
    <a class="text-decoration-none link-dark" href="{{post.get_absolute_url}}">
        <div class="mb-4 shadow p-3 bg-body rounded">
            <div class="card-body">
                <p class="card-title h1">{{ post.title }}</p>
                <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p> -->
                <p class="card-text"><small class="text-muted">{{ post.created | date:"M d, Y" }}</small></p>
            </div>
            <img src="/static/img/tech.jpg" class="card-img-bottom" alt="Imagen">
        </div>
    </a>
    {% empty %}
    <p>No hya datos</p>
    {% endfor %}
</div>
{% endblock content %}