<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap w-100 align-items-center justify-content-center justify-content-lg-between">
            <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none h1"
                href="{% url 'post-list' %}">BLOG</a>
            <ul class="nav col-12 col-lg-auto mb-2 justify-content-between mb-md-0">
                <li>
                    <a class="nav-link px-2 text-white" href=" {% url 'post-list' %} ">Home</a>
                </li>
                <li>
                    <a class="nav-link px-2 text-white" href=" {% url 'about' %} ">About</a>
                </li>
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li>
                    <a class="nav-link px-2 text-white" href=" {% url 'post-create' %} ">Crear post</a>
                </li>
                {% endif %}
                <li>
                    <a class="nav-link px-2 text-white" href=" {% url 'profile' %} ">Profile</a>
                </li>
                <li>
                    <form class="" method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %} {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-outline-light" type="submit">Logout</button>
                    </form>
                </li>
                {% else %}
                <li>
                    <a class=" btn btn-warning" href="{% url 'account_login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</header>