{% extends 'base.html' %}
{% load static %}

{% block title %}Fomulario{% endblock %}

{% block content %}
<div class="container-fluid w-100 row row-cols-1 align-items-center justify-content-center">
    <div class="col-12 col-lg-8">
        {{ form.media }}
        <div class="mt-3">
            <h1><strong>Creación de post</strong></h1>
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mt-3">
                    {{ form.title }}
                </div>
                <div class="mt-3">
                    {{ form.content }}
                </div>
                <div class="mt-3">
                    {{ form.thumbnail }}
                </div>
                <div class="mt-3 form-switch">
                    {{ form.categories }}
                </div>
                <button class="btn btn-dark w-100 mt-3 mb-3 pe-auto" type="submit">Enviar</button>
            </form>
        </div>
    </div>

</div>

{% endblock content %}