 {% extends 'base.html' %} {% load static %} {% block content %}

<div class="post">
    <div class="post__title">
        <h1>{{post.title}}</h1>
    </div>

    <div class="post__meta">
        <p class="post__time">{{ post.created | date:"M d, Y" }}</p>
    </div>

    <div class="post__content">
        {{post.content | safe}}
    </div>

    <div class="post__commnet">
        <h2>Comentarios:</h2>
        {% for comment in post.get_comments %}
            <div class="post__comment__item">
                <div class="post__comment__users">
                    <h3>{{comment.user | title }}</h3>
                    <p>{{comment.timestamp | date:"M d, Y" }}</p>
                </div>
                <div class="post__comment__content">
                    {{comment.content | safe}}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <div class="post__form">
        <h2>Escribe un comentario:</h2>
        <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form.content }}
            </div>
            <div>
                <button class="post__form__btn" type="submit">Enviar</button>
            </div>
        </form>
    </div>

    {% else %}
    <div class="post__login">
        <p>Si quieres dejar tu comentario puedes <a href="{% url 'account_login' %}">ingresar</a> o <a href="">registrarte</a></p>
    </div>
    {% endif %}

</div>



{% endblock content %}